body {
    font-family: 'Roboto', sans-serif;
}

/* Containers */

.alert-container{
    
}

.callout-container{
    height: 100vh;
    background: url("../images/whiskey-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    
}

/* Opague overlay */

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.quotes-container{
    
}

.features-container{
    
}

/* jumbatron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron .text-muted{
    color: #c5c5c5;
}

/*block divider */

.block-divider{
    height: 10px;
    width: 75px;
    border: 0;
    
}

.block-divider--orange{
    background-color: #c57a19;
}

.block-divider--short{
    width: 45px;
}

